@import "~src/styles.scss";

.form-control {
  height: 55px;
  border: 1px solid $border-color;
  border-radius: 2px;
  border-right: 0;
}

.input-group-text {
  background-color: white;
  border-left: 0;
}

.fa-search {
  color: $light-gray-color;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $light-gray-color;
  opacity: 1; /* Firefox */
}
