@import "~src/styles.scss";

.display-card-grid {
  width: 100vw;
  margin-top: 3%;
  padding-left: $page-side-padding;
  padding-right: $page-side-padding;

  max-width: 100vw;

  flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .display-card-grid {
    padding:2px;
  }
}

.paginator {
  display: flex;
  justify-content: flex-end;
  margin-right: 1%;
}
