<app-title-component [mainTitle]="mainTitle"></app-title-component>
<div class="container display-card-grid d-flex">
  <app-display-card class="col-xs-12  col-sm-12 col-md-6 col-lg-4  pb-5"></app-display-card>
  <app-display-card class="col-xs-12 col-sm-12 col-md-6 col-lg-4 pb-5"></app-display-card>
  <app-display-card class="col-xs-12 col-sm-12 col-md-6 col-lg-4 pb-5"></app-display-card>
  <app-display-card class="col-xs-12 col-sm-12 col-md-6 col-lg-4 pb-5"></app-display-card>
  <app-display-card class="col-xs-12 col-sm-12 col-md-6 col-lg-4 pb-5"></app-display-card>
  <app-display-card class="col-xs-12 col-sm-12 col-md-6 col-lg-4 pb-5"></app-display-card>
</div>
