.image {
  background-image: url("~src/assets/home-image.jpg");

  height: 88vh;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  margin-left: 4px;
  margin-right: 4px;
}
