<div class="display-card container">
  <div class="card-image">
    <div>{{altImageTitle}}</div>
  </div>
  <div class="card-info">
    <div class="col-12 card-row">
      <h5 class="card-title">{{label}}</h5>
    </div>
    <div class="col-12 card-row card-content">
     <span class="description" *ngIf="isUrl()"><a [href]="description">{{description}}</a></span>
     <span class="description" *ngIf="!isUrl()" >{{description}}</span>
    </div>
    <div class="col-12 card-row">
      <a [routerLink]="moreInfoLink" class="card-more-info">More Info</a>
    </div>
  </div>
</div>
