@import "~src/styles.scss";

$title-y-padding: 3%;

.title-container {
  height: 30vh;
  padding-top: $title-y-padding;
}

.title {
  text-align: center;
  height: 10%;
}

.small-title {
  font-size: $small-title-font-size;
  font: 'Light' 25px/30px 'Roboto';
  letter-spacing: 0px;
  color: #10172C;
  opacity: 1;
}

.big-title {
  font-size: $big-title-font-size;
  font-weight: bold;
}

.small-hr {
  width: 20%;
  font-size: 20px;
}
